.AlertSettingText {
    float: left;
    text-align: right;
}
.Switches{
    
    
    right: 0px;
    padding-right: 0px;
}
.SwitchDiv{
    right: 0px;
}
.alertSettingsTitle{
    font-weight: 600;
    font-size: 120%;
    color: hotpink;
}