.btnAddChallengeToStudent{
    background-color: #F5B5DB;
    border: none;
    width: 80%;
}
.titleSmartDiv{
    color:rgb(182, 126, 159);
}
.btnAddChallengeToStudent:hover , .btnAddChallengeToStudent:checked{
    background-color: rgb(196, 115, 163);
    border: none;
}
.oneSmartText{
    text-align: right;
    font-size: 18px;
}
.DivOneSmart{
    box-shadow: 1.5px 1.5px rgb(115, 146, 142);
    border: none;
    margin-bottom:10px !important;
    padding:0px;
    background-color: rgb(178, 209, 211);
    font-weight: 500;
  
    color: white;
    margin-top:2px;
    border-radius: 3px;
    min-height: 60px;
}
.floatCrossIcon{
    float: right;

}
.DivAllSmart{
    overflow: scroll;
    height: 300px;
margin-bottom: 5%;
border: 2px solid rgb(182, 126, 159);
}
