.logoImgLoginTeacher{
    padding-top: 6%;
    width: 100%;
    padding-bottom: 10%;
}

/* for large device */
@media (min-device-width: 500px) {
.logoImgLoginTeacher{
    padding:0px;
    width: 50%;
    display: block;
    margin: 0 auto;
}}
.rememberMeDiv{
    background-color: rgba(0, 0, 0, 0.17);
    margin-top: 5%;
}

/* for large device */
@media (min-device-width: 500px) {
    .rememberMeDiv{
        margin-top: 0px;
    
    }
}
.marginb{
    margin-bottom: 5px !important;
}
.h5Teacher{
    
    font-size: 1rem;
    /* text-shadow: 1px 1px rgb(146, 137, 160); */
    color: rgb(127, 116, 145);
}

.h6Teacher{
    /* position: fixed;
    bottom: 10px; */
    color:#7E758E;
    width: 100%;
    /* text-shadow: 1px 1px rgb(146, 137, 160); */
    background-color: inherit;
    margin-top: 1%;
}
.react-inputs-validation__error___2aXSp , .errorFromServer{
    color:red;
    font-size: 16px;
}
.rememberTeacher{
    margin: 5px 0;
}

/*************popup*****************/

#newPassword1Div ,#newPassword2Div{
    display: none;
}