.addingAlertsDiv{
    margin: 3% auto;
    
}
.allAlerts{
    height: 66vh;
    overflow-y: scroll;
    margin-top: 20px;
}


/*******One Alert *******/
.container-OneAlert{

    margin: 2px;
    padding: 0px;
    text-align: right;
    display: flex;
    width: 98%;
}

.iconsAlertDiv{
    float: left;
    height: 100%;
    margin-left: auto;
    margin-top: 2%;
    padding: 0px;
}
.detailsOneAlert{
    margin: 0px;
    padding: 0px;
}
.iconDiv{
    height: 20px;
    margin-left: 3%;
}

.alertType{
    border-radius: 24px;
    
}
.alertTypeID1{
background-color: rgba(255, 235, 205, 0.637);
}
.alertTypeID2{
    background-color: rgba(95, 158, 160, 0.692);

}
.alertTypeID3{
    background-color: rgba(250, 128, 114, 0.712);

}
.alertTypeID4{
    background-color: rgba(255, 255, 0, 0.678);

}
.alertTypeID5{
    background-color: rgba(0, 255, 255, 0.678);

}
.alertTypeID6{
    background-color: rgba(216, 112, 147, 0.726);

}