.oneTagsSearchText{
    display: flex;
    text-align: right;
font-size: medium;
/* padding-right: 5px;
padding-left: 5px;
padding-top: 7px; */
}

.DivOneTagsSearch{
    margin:0px;
    padding:0px;
    background-color: rgb(218, 188, 207);
    font-weight: 500;
    margin-top:1%;
    border-radius: 4px;
    font-size: 20px;
}
.DivAllTagsSearch{
    overflow: scroll;
    height: 300px;
}
