.ForgetPasswordDiv{
    margin-left: auto ;
    margin-right: auto ;
}
@media (min-device-width: 500px) {
    .ForgetPasswordDov{
        margin-top: 0%;
    }}

.marginBottom{
    margin-bottom:20px ;
}
.ForgetPasswordIMG{

    height: 40%;
    position: fixed;
    bottom: 0px;
    padding-bottom: 0px;
    left:10%;
    z-index: -1;
    
}
.logoImgForget{
    width: 100%;
    margin-bottom: 5%;
}
