.ForgetPasswordDov{
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 5%;
}
@media (min-device-width: 500px) {
    .ForgetPasswordDov{
        margin-top: 0%;
    }}

.marginBottom{
    margin-bottom:15px ;
}
.ForgetPasswordIMG{

    height: 40%;
    position: fixed;
    bottom: 0px;
    padding-bottom: 0px;
    left:10%;
    
}
