

.background{
    height:100vh;
    background-image: url('../../../img/backgroundTorS.png') !important; 
    background-size: cover;
}
.btnpinkToT , .btnToS{
    /* border: none; */
    color: whitesmoke;
    height: 70px;
    font-size: 120%;
}
.btnpinkToT{
    background-color: rgb(255, 158, 216);
    border: 3px solid rgb(241, 116, 191);
   }
.btnToS{
    margin-top: 7%;
    background-color: rgb(121, 221, 228);
    border: 3px solid rgb(67, 182, 190);
}
.doYou{
    color: white;
    text-shadow: 1.5px 1.5px rgb(134, 134, 134);
}