footer{
    background-color: rgba(30, 28, 28, 0.85);
    position: fixed;
    width: 100%;
    color:#9A91AB;
    
}
.footerDown{
    bottom: 0px;
    padding-bottom: 0px;
 }


/*********navBar******************/

.colorNav{
background-color: rgba(30, 28, 28, 0.5);

}
.navbar-light .navbar-nav .nav-link{
    color:whitesmoke;
}

/*********logoIMG******************/
.logoImg{
   
    width: 100%;
    padding-bottom: 3%;
}

/* for large device */
@media (min-device-width: 500px) {
.logoImg{
    padding:0px;
    width: 50%;
    display: block;
    margin: 0 auto;
    padding-bottom: 0%;
}}

/********searchBarHomeTeacher************/
.massegesTeacherHomePage, .searchTeacherHomePage, .alertsTeacherHomePage{
    float: left; 
    padding: 0px;

}

.massegesTeacherHomePage, .alertsTeacherHomePage{
    color:rgba(224, 129, 154, 0.801);
   
     
}
.linkColor{
    color:rgba(224, 129, 154, 0.801);
}


a{
    color:whitesmoke;
}


/********Notification************/

.notificationStyle{
    background-color: rgba(245, 181, 219, 0.897);
    border-radius: 6px;
    padding: 5px !important;
    color: white;
    position: absolute;
    top: 16px;
    z-index: 999;
}
.titleNotification{
   
    font-weight: 500;
}


