.headLineHomePage{
 height: 10%;   
 text-align: right;
 padding-right: 2%;
}
.headLineHomePage > .emptyUserImg{
    height: 100%;
}
.helloName{
    padding-top:5% ;
    padding-right: 3%;
    font-size: 25px;
    font-weight: 600;
    /* text-shadow: 1px 1px rgb(78, 92, 95); */
    color: rgb(98, 130, 134);

}
.messagesS{
    margin-top: 2%;
    background-color: rgba(255, 255, 255, 0.7);
    height: 15%;
}
.btnMassagesRead{
    margin-top:3% ;
}
.btnMassagesReadText{
    font-size: 25px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.challengeReadText{
    font-size: 25px;
    color:  rgb(85, 85, 85);
}
.oneDiv{
    padding: 3% 0 ;
}
.challengeShowStudents{
    height: 280px;
    overflow: scroll;
}
.avatarClassDiv > img{
    height: 100px;
    margin-left: 2%;
    
}
.avatarClassDiv {
    text-align: left !important;
          
}
#talkbubble {
    width: 120px;
    height: 80px;
    background: whitesmoke;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  #talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid whitesmoke;
    border-bottom: 13px solid transparent;
  }
.successHomePage{
    margin-left: -60px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: rgba(57, 230, 198, 0.644);
    border: none;
    align-items: center;
}
.successHomePage > .MdCheckHomePage{
    margin-right: -7px;
    margin-top: -3px;
}

  /* *******one challengePage****** */

.imageOneChallenge{
    height: 250px;
    width: 100%;
    padding:0px;
}
.challengeName{
    color: teal;
    font-weight: 700;
}
.dedlineTextChallengePage{
    color:rgb(223, 77, 113);
    margin-top: 2%;
    /* font-size: 23px; */
}
.dedlineDateTextChallengePage{
    font-size: 25px;
    color:rgb(223, 77, 113);
    font-weight: 600;
}


.btnSuccess , .btnFail , .btnHelp{
    height: 100px;
    border-radius: 50%;
    width: 100px;
    border:none;
}
.btnSuccess{
background-color: #39E6C6;
}
.btnFail{
background-color: #FD658B;
}
.btnHelp{
background-color: #FFBE3D;
}
.textSeccesNotOrHelp{
padding: 0px;
text-align: center;
}
.statusSentence{
    color:rgb(223, 77, 113);
    margin-top: 2%;
}
.FaPencilAlt{
    margin-top: -40px;
    margin-left: 40px;
}

