.massegesTeacherHomePage, .searchTeacherHomePage, .alertsTeacherHomePage{
    float: left; 
}
.myClasses, .AddnewClass{
    font-weight: 700;
    color: #8AC9C1;
    text-align: center ;
    margin-bottom: 20px;
}

.AddnewClass{
    margin-top: 30px;
}


.element{
    height: 100% ;
    width: 100%;
    border: 1px solid black;
    padding: 0 3px;
}
.container{
    margin:0px;
    padding:0px;
    height: 100px;
}
.classInput:disabled{
    background-color:transparent;
    border: none;
    text-align: center ;
    color: #8AC9C1;
}
.classInput:enabled{
    background-color:transparent;
    border-bottom: 2px solid #8AC9C1;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center ;
    color: #8AC9C1;
}
.classNameHome{
    border: 3px solid black;
    height: 98px;
    width: 100%;
    text-align: center;
    align-items: center;
    float: left;
    margin:0px;
    padding:0px;
    background-color: #96C8C2;
    font-weight: 700;
    color: white;
    margin-top:2px;
}
.addStudent{
   
    float: left;
    height: 99px;
    width: 100%;
    background-color:rgba(224, 129, 154, 0.801);
    border: 1px solid black;
    margin-top: 1px;
    
}
.childrenNames{
    float: left;
    margin:0px;
    padding:0px;
    height: 100px;
    overflow: hidden;
}
.doubleChild{
background-color: #867D95;
}
.oddChild{
   background-color: #CCC4D9;
}

.verticalMiddle{
display: flex;
justify-content: center; /* align horizontal */
align-items: center;
height: 100px;
padding-right: 3px;
padding-left: 3px;
}

