.grey{
    font-weight: 500;
    color: rgb(143, 134, 140);
    text-align: center ;
    padding-top: 5px;
}
.hiddendiv , .hiddendivIcon{
    display: none;
}
.messagesDiv{
    height: 80%;
    overflow: scroll; 

}
.MdSend{
    transform: rotate(180deg);
}
.sendBackGround{
    background-color: rgb(1, 153, 153);
    border: none;
}
.mp0{
    margin: 0px;
    padding: 0px;
    
}