.inputUpdateTeacher{
    background-color: rgba(0, 0, 0, 0.2);
    text-align: right;
    border:none;
}
.inputUpdateTeacher:disabled{
    background-color: rgba(0, 0, 0, 0.07);
}
.inputUpdateTeacher:enabled{
    background-color: rgba(255, 255, 255, 0.5);
}
.inputUpdateTeacher:focus{
background-color: rgba(0, 0, 0, 0.07);
box-shadow: none !important
}
.loginDiv{
   padding-bottom: 30px;

}
.myInformation{
    font-weight: 700;
    color: #8AC9C1;
    text-align: center ;
    margin-bottom: 20px;
}
.cencelBtn{
background-color: rgba(161, 123, 133, 0.801);

}
.hideFirst{
    display: none;
}