.textStudentDetails, .textStudentDetails > strong {
    text-align: right;
    padding-right: 2%;
    font-size: 120%;
    text-shadow: 1px 1px rgba(147, 141, 160, 0.801);
    color: rgb(127, 116, 145);

}
/* *** */
.textTilteChallStusent{
color: rgba(224, 129, 154, 0.801);
font-size: 110%;
font-weight: 500;
margin: 3% 0;
}
/* ****** */

/* .studentChallengesDiv{
    height: 60vh;
    overflow-y: scroll;
} */
.oneChallengeDiv{
    border: 1px solid rgb(127, 116, 145);
    margin:2%;
    text-align: right;
    padding: 3%;
    border-radius: 5px;

}
.oneChallengeDetails{
    /* text-decoration: underline; */
    
}

.deadlineDiv{
    color:rgb(148, 3, 116);
}
.eddChallengeBTN{
    margin-bottom: 4px;
}
.status1{
    border: 1px solid #3fb181b2;
    background-color: #38c08c42;
}
.iconStatus1{
  color: #38c08ca1;
}
.status2{
    border: 1px solid #fab0a8d8;
    background-color: #fabfb8b7;
}
.iconStatus2{
    color: #fabfb8d5;
}
.status3{
    border: 1px solid #f5da0c75;
    background-color: #f5da0c56;
}
.iconStatus3{
    color: #f7df297a;
    
}
.iconStatus1 , .iconStatus2, .iconStatus3{
    padding-left: 4px;
}
.iconsCircle{
    padding: 0px;
}
.oneIconCircle{
    padding: 0px;
}
.iconArrowBack{
    display: flex;
    right: 0px;
    color: rgba(147, 141, 160, 0.801);
}
.remainDaysDiv{
    color:red;
    font-weight: 500;
}
/* ***EDIT**** */
.titleChalengeinCCEDIT{
    font-size: 120%;
    text-shadow: 1px 1px rgba(147, 141, 160, 0.801);
    color: rgb(127, 116, 145);
}
.titleCategoryInCCEDIT{
    font-size: 110%;
    padding-top: 2%;
    text-shadow: 1px 1px rgba(240, 159, 180, 0.801);
    color: rgba(224, 129, 154, 0.801);
}
.inputCCEdit{
    text-align: right;
    background-color: rgba(163, 158, 172, 0.2) !important;
    border:none;
    
}

.inputCCEdit:focus{
background-color: rgba(233, 176, 191, 0.1)  !important;
box-shadow: none !important
}
.inputCCEdit:disabled{
    background-color:rgba(234, 231, 238, 0.7) !important;
}
#DifLevelInput {
    text-align-last:right;
}
/* .input-group-prepend{
    float: left;
    padding: 0px;
} */
.spanCCEdit{
    background-color: rgba(163, 158, 172, 0.7);
    border: none;
    color: whitesmoke;

}

.btnDeleteChallenge{
    background-color:rgba(204, 166, 202, 0.897) ;
    border:none;
    color: whitesmoke;
    font-weight: 600;
    border-radius: 60px; 
    width: 100%;
  margin-top: 10px;
}
.btnDeleteChallenge:active{
    background-color:rgba(104, 104, 95, 0.842) ;
 
}
.textEditChallenge{
    color: rgb(228, 147, 208);
}
.errorfeature{
    color:red;
    font-weight: 600;
    padding-bottom: 3%;
}

.headLineStudentPage{
    height: 10%;   
 text-align: right;
 margin: 0px ;
}