.btnAddNewStudent{
    width: 100%;
}
.errorInputPhone{
    color:red;
    font-size: 14px;
}
input[type="date"]:before {
    color: #495057;
    content: attr(placeholder) !important;
    margin-left: 0.5em;
  }
  input[type="date"]:focus:before {
    content: '' !important;
  }
  .birthDate{
    height: 100%;
  }

  .notMust{
    text-align: right;
    color:rgb(255, 138, 138);
    font-size: 85%;
    margin: 0;
    padding: 0;
    margin-top: -15px;
    padding-right: 5px;
  }